h1 {
  color: #cd5c5c;
  font-size: 2em;
}
h2 {
  color: #8a74be;
}

h3 {
  color: #262626;
}

body {
  background-color: #e2e5de;
  color: #262626;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
}

.sectionsMe {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
}

.interests {
  background-color: #8a74be;
  position: absolute;
  align-content: top;
  text-align: center;
  border: solid thin;
  border-color: #262626;
  width: 30%;
  height: 300px;
  position: relative;
}

.technologies {
  background-color: #8a74be;
  align-content: top;
  text-align: center;
  border: solid thin;
  border-color: #262626;
  width: 30%;
  height: 300px;
  position: relative;
  margin-left: 60px;
  margin-right: 60px;
}

.hobbies {
  background-color: #8a74be;
  align-content: top;
  text-align: center;
  border: solid thin;
  border-color: #262626;
  width: 30%;
  height: 300px;
  position: relative;
}

div.sectionsMe ul {
  background-color: #eff2f4;
  color: #8a74be;
  font-family: monospace;
  font-style: italic;
  line-height: 30px;
  text-align: center;
  width: 80%;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
}

div.sectionsMe div:hover {
  background-color: #cd5c5c;
}

div.sectionsMe ul li:nth-child(odd) {
  color: #cd5c5c;
}

.writtenName {
  text-decoration: underline;
}

ul,
img {
  border-style: solid;
  border-color: #262626;
  border-width: thin;
}

.geoState {
  font-weight: bold;
}

.boxMe {
  width: 90%;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.description {
  margin-bottom: 10px;
  margin-left: 15px;
  position: relative;
  text-align: left;
}

div.sectionsMe ul li:hover {
    color: #262626;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
